<footer class="footer py-4 ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <strong>Copyright &copy;&nbsp;<span>@DateTime.Now.Year</span> <a href="#">QUEENS MPC</a>.</strong> All Rights Reserved.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
